---
permalink: /humans.txt
eleventyExcludeFromCollections: true
layout: null
date: Last Modified
---

/* WHO */
Creator: Crow
website: https://crow.codes


/* THANKS */

  Eleventy Creator: Zachleat
  Twitter: @zachleat


/* Credits */

Static Site Generator: Eleventy
Twitter: @eleven_ty
Website: 11ty.dev


/* SITE */

Last update: {{ page.date }}
Language: English
Generator: Eleventy
Theme: The Book of Crow
Fonts: System
Doctype: HTML5
IDE: Terminal, Notepad
